<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="false" defaultLanguage="c#" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <caching enabled="false" enableKernelCache="false" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <directoryBrowse enabled="false" />
  </system.webServer>
  
</configuration>
