.ui-li .ui-btn-text a.ui-link-inherit .ui-li-desc .ui-btn-inner
{
    color: Red;
    white-space: normal;
}

.csw-li
{
   white-space: normal;
}

.onlineStatus
{
}
.offline
{
	color: #ff0000;
}
.online
{
	color: #00ff00;
}
.pendingChanges 
{
	color: #ffff00;
}
		
.OOC
{
	background-color: #ffff00;
	color: #000000;
}
/*
.csw_fieldset label
{
	width: 60px;
}
.csw_fieldset span
{
	position: relative;
	left: -5px;
}
*/
.lisubstitute
{
	padding-left: 12px;
	padding-bottom: 8px;
}
.debug-on
{
	color: #ff0000;
}
.debug-off
{
	color: #00ff00;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: .7em 15px .7em 15px;
}

.error
{
	border: 1px solid #ff0000;
	background-color: #ffff00;
	color: #000000;
	padding: 2px;
}