<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <system.serviceModel>
        <services>
            <service name="ChemSW.MtSched.Core.CswSchedSvcAdmin"
                     behaviorConfiguration="SchedSvcAdminBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8010/SchedService"/>
                    </baseAddresses>
                </host>
                <endpoint name ="SchedSvcAdmin"
                         binding="wsHttpBinding"
                          contract="ChemSW.MtSched.Core.CswSchedSvcAdmin" />
                <endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SchedSvcAdminBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

</configuration>
