<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="ssl" allowCookies="true">
                    <security mode="Transport"/>
                </binding>
                <binding name="nossl" allowCookies="true">
                    <security mode="None"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/NbtWebApp/Services/NbtPublic.svc"
                      behaviorConfiguration="MainEndpointBehavior"
                      binding="webHttpBinding"
                      bindingConfiguration="ssl"
                      name="NbtPublic.NbtPublic"
                      contract="NbtPublic.NbtPublic"/>
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MainEndpointBehavior">
                    <endpointDiscovery enabled="true"/>
                    <webHttp faultExceptionEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
	
	
</configuration>