.CswLayoutTable_cell
{
}
.CswLayoutTable_configcell
{
    border: 1px solid #aaaaaa;
    cursor: move;
}
.CswLayoutTable_dragcell
{
    background-color: #dddddd;
}
.CswLayoutTable_swapcell
{
    background-color: #ffff00;
}
.CswLayoutTable_hover
{
}
.CswLayoutTable_emptycell
{
    width: 50px;
    height: 15px;
}
