<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/csw.Schema.CswSchema.csdl|res://*/csw.Schema.CswSchema.ssdl|res://*/csw.Schema.CswSchema.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=W2008X64DB;password=nbt;persist security info=True;user id=NBT&quot;" providerName="System.Data.EntityClient" />
    <add name="CswNbtSchema" connectionString="metadata=res://*/csw.Schema.CswNbtSchema.csdl|res://*/csw.Schema.CswNbtSchema.ssdl|res://*/csw.Schema.CswNbtSchema.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=W2008X64DB;persist security info=True;user id=NBT&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>