<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="TestService_wsHttpBinding" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8010/SchedService/" binding="wsHttpBinding"
                bindingConfiguration="TestService_wsHttpBinding" contract="NbtSchedSvcRef.CswSchedSvcAdminEndPoint"
                name="TestService_wsHttpBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>