<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChemSW.Nbt.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=W2008X64DB;PERSIST SECURITY INFO=True;USER ID=NBT"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticateService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IMaterialService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICommonService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IDocumentService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="4096000" maxBufferPoolSize="4096000" maxReceivedMessageSize="4096000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            
            <!--<basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticateService" />
                <binding name="BasicHttpBinding_ICommonService" />
                <binding name="BasicHttpBinding_IDocumentService"  transferMode="Streamed"  />
                <binding name="BasicHttpBinding_IMaterialService"  maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>-->
            <wsHttpBinding>
                <binding name="TestService_wsHttpBinding" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </wsHttpBinding>
            <webHttpBinding>
                <binding name="chemCatSSL" maxReceivedMessageSize="20000000">
                    <readerQuotas maxStringContentLength="200000000" />
                    <security mode="Transport" />
                </binding>
                <binding name="chemCatNoSSL" maxReceivedMessageSize="20000000">
                    <readerQuotas maxStringContentLength="200000000" />
                    <security mode="None" />
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8010/SchedService/" binding="wsHttpBinding"
                bindingConfiguration="TestService_wsHttpBinding" contract="NbtSchedSvcRef.CswSchedSvcAdminEndPoint"
                name="TestService_wsHttpBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/c3/Search.svc" binding="webHttpBinding"
                bindingConfiguration="chemCatNoSSL" contract="ChemCatCentral.Search"
                name="ChemCatCentral.Search" />
            <endpoint address="http://jr.chemwatch.net/CWWS.BP.CISPRO/AuthenticateService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticateService"
                contract="ChemWatchAuthServices.IAuthenticateService" name="BasicHttpBinding_IAuthenticateService" />
            <endpoint address="http://jr.chemwatch.net/CWWS.BP.CISPRO/CommonService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService"
                contract="ChemWatchCommonServices.ICommonService" name="BasicHttpBinding_ICommonService" />
            <endpoint address="http://jr.chemwatch.net/CWWS.BP.CISPRO/DocumentService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
                contract="ChemWatchDocumentServices.IDocumentService" name="BasicHttpBinding_IDocumentService" />
            <endpoint address="http://jr.chemwatch.net/CWWS.BP.CISPRO/MaterialService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaterialService"
                contract="ChemWatchMaterialServices.IMaterialService" name="BasicHttpBinding_IMaterialService" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MainEndpointBehavior">
                    <webHttp/>
                    <dataContractSerializer maxItemsInObjectGraph="2147483646" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>