<?xml version="1.0"?>
<configuration>  
    
    <!-- NOTE: this servicemodel config is required but BOGUS, it is actually set in code at runtime-->
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="ssl" allowCookies="true">
                    <security mode="Transport"/>
                </binding>
                <binding name="nossl" allowCookies="true">
                    <security mode="None"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://imcslive.chemswlive.com/nbtwebapp/Services/NbtPublic.svc"
                      behaviorConfiguration="MainEndpointBehavior"
                      binding="webHttpBinding"
                      bindingConfiguration="ssl"
                      name="NbtPublic.NbtPublic"
                      contract="NbtPublic.NbtPublic"/>
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MainEndpointBehavior">
                    <endpointDiscovery enabled="true"/>
                    <webHttp faultExceptionEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
