<?xml version="1.0" encoding="utf-8"?>
<!-- 
        Note: As an alternative to hand editing this file you can use the 
        web admin tool to configure settings for your application. Use
        the Website->Asp.Net Configuration option in Visual Studio.
        A full list of settings and comments can be found in 
        machine.config.comments usually located in 
        \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="CswLoggerDnTrace" value="4" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="fp_client" value="fp_client" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="30" />
    <!--<hostingEnvironment shadowCopyBinAssemblies="false" />-->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="csw" namespace="ChemSW.CswWebControls" assembly="CswWebControls" />
        <add tagPrefix="nbt" namespace="ChemSW.NbtWebControls" assembly="NbtWebControls" />
        <add tagPrefix="nbtft" namespace="ChemSW.NbtWebControls.FieldTypes" assembly="NbtWebControls" />
        <add tagPrefix="tel" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <!-- 100 MB maximum file upload, 30 minute maximum page execution -->
    <httpRuntime maxRequestLength="102400" executionTimeout="1800" requestValidationMode="2.0" />
    <authentication mode="Windows" />
    <!-- These are for Microsoft AJAX: -->
    <httpModules>
      <add name="TimingModule" type="ChemSW.HTTPModules.TimingModule" />
    </httpModules>
    <!-- End Microsoft AJAX -->
    <!-- Required for remote AJAX GET/POST to work-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="false" defaultLanguage="c#" numRecompilesBeforeAppRestart="100" targetFramework="4.0" />
    <!-- End M$ft idiocy -->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SSINC-html" path="*.html" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="index.html" />
        <remove value="Default.htm" />
        <add value="Main.html" />
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" />
    <staticContent>
      <remove fileExtension=".manifest" />
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
    </staticContent>
    <modules>
      <add name="RequestMonitorModule" />
    </modules>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/NbtWebApp/crystal" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
</configuration>