<?xml version="1.0"?><!-- 
		Note: As an alternative to hand editing this file you can use the 
		web admin tool to configure settings for your application. Use
		the Website->Asp.Net Configuration option in Visual Studio.
		A full list of settings and comments can be found in 
		machine.config.comments usually located in 
		\Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration>
	<configSections>
		<sectionGroup name="fiftyOne">
			<section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
			<section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
			<section name="wurfl" type="FiftyOne.Foundation.Mobile.Detection.Wurfl.Configuration.WurflSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
		</sectionGroup>
	<sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<fiftyOne>
		<!--<redirect> element controls how requests from mobile devices are handled.
		mobileHomePageUrl   Previously mobileRedirectUrl under the mobile/toolkit element.
												A url to direct mobile devices to instead of the normal web sites 
												landing page. (Optional)
		firstRequestOnly    If set to true only the first request received by the web site is
												redirected to the mobileUrl when the site is accessed from a mobile
												device. (Optional – defaults to true)
		timeout             The number of minutes of inactivity that should occur before the 
												requesting device should be treated as making a new request to the
												web site for the purposes of redirection. If the session is available
												the session timeout will be used and override this value. (Optional
												-defaults to 20 minutes)
		devicesFile	        A file used to store the details of devices that have previously
												accessed the web site to determine if they're making a subsequent
												request. Needed to ensure multiple worker processes have a consistent
												view of previous activity. (Optional – random behaviour will be 
												experienced if not specified on web sites with more than one worker
												processes)
		mobilePagesRegex    A regular expression that when applied to the current request Path
												(context.Request.AppRelativeCurrentExecutionFilePath) or the requesting 
												Urlwill return true if it should be considered a mobile page. Use 
												this attribute to tell redirection about mobile pages derived from base
												classes such as System.Web.UI.Page. Redirection needs to be aware of
												mobile pages so that requests to these pages can be ignored. Any page
												that derives from System.Web.UI.MobileControls.MobilePage will 
												automatically be treated as a mobile page irrespective of this 
												attribute. (Optional)
		originalUrlAsQueryString
												If set to true the redirected URL will have the original requesting Url 
												encoded and included as the origUrl query string parameter in the 
												redirected Url. This will enable the mobile home page to determine the 
												original requested resource providing the option to display a mobile
												friendly version. (Optional – defaults to false)
		locations/location  Provides details of different locations requests can be directed to based
												on the values of defined properties associated with the device or request.
												(Optional)
			name              A unique identifier for the location. Used for debugging in the log file.(Mandatory)                  
			url               the URL of the redirect location to use if all the properties in the 
												collection match. (Mandatory)
			matchExpression   can be used to provide a regular expression which will take the requesting
												URL as input match segments to be used in place of numeric parameters contained
												within {} in the url attribute. (Optional)                       
												The location element contains a collection of criteria that all need to match 
												for the location to be used. Two attributes must be specified with each entry.
			property          the property of HttpRequest, HttpRequest.Browser or WURFL capability to 
												use when evaluating the matchExpression attribute. (Mandatory)
			matchExpression   a regular expression used to evaluate the value of the property. (Mandatory)                        
												-->
		<redirect firstRequestOnly="true" timeout="20" devicesFile="~/App_Data/Devices.dat" mobilePagesRegex="/(Mobile|Tablet)/" mobileHomePageUrl="~/Mobile.html">
			<locations>
				<location name="tablet" url="~/Login.aspx">
					<add property="is_tablet" matchExpression="true"/>
					<add property="is_wireless_device" matchExpression="true"/>
				</location>
				<location name="mobile" url="~/Mobile.html">
					<add property="is_wireless_device" matchExpression="true"/>
				</location>
			</locations>
		</redirect>
		<log logFile="~/App_Data/Log.txt" logLevel="Info"/>
		<!--<wurfl> element controls device data and new device handling.
		wurflFilePath         is the path of the main wurfl file (mandatory).
		wurflPatches          defines where any additional patch files can be located (optional).
		newDevicesURL         provides a URL where new devices found on your server can be recorded
													(optional).
		newDeviceDetail       can be "minimum" or "maximum" and controls the HTTP header 
													information sent to location defined in newDevicesUrl (optional).
		useActualDeviceRoot   When set to true only Wurfl devices marked with the attribute "actual_device_root"
													are used to provide capabilities. Child devices will continue to be used to 
													for device matching but their capabilities will not be used. This is an advanced
													feature for those familar with WURFL. (optional)  
		capabilitiesWhiteList Using the capabilityName attribute of the add elements lists the Wurfl capabilities
													required by the mobile web application. Providing this list prevents the entire list
													of capabilities from being loaded slightly improving performance.-->
		<wurfl wurflFilePath="~/App_Data/wurfl.xml.gz" newDeviceDetail="maximum" newDevicesURL="http://devices.51degrees.mobi/new.ashx" useActualDeviceRoot="false">
			<wurflPatches>
				<add name="browser_definitions" filePath="~/App_Data/web_browsers_patch.xml" enabled="true"/>
			</wurflPatches>
			<capabilitiesWhiteList>
				<add capabilityName="pointing_method"/>
			</capabilitiesWhiteList>
		</wurfl>
	</fiftyOne>
	<system.diagnostics>
		<switches>
			<!-- Tracing Levels: 
			"1" Error
			"2" Warnings
			"3" Info
						"4" Verbose -->
			<add name="CswLoggerDnTrace" value="4"/>
		</switches>
	</system.diagnostics>
	<appSettings>
		<add key="fp_client" value="fp_client"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<sessionState mode="InProc" timeout="30"/>
		<!--<hostingEnvironment shadowCopyBinAssemblies="false" />-->
		<pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="csw" namespace="ChemSW.CswWebControls" assembly="CswWebControls"/>
				<add tagPrefix="nbt" namespace="ChemSW.NbtWebControls" assembly="NbtWebControls"/>
				<add tagPrefix="nbtft" namespace="ChemSW.NbtWebControls.FieldTypes" assembly="NbtWebControls"/>
				<add tagPrefix="tel" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
		<!-- 100 MB maximum file upload, 30 minute maximum page execution -->
		<httpRuntime maxRequestLength="102400" executionTimeout="1800" requestValidationMode="2.0"/>
		<!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
		<buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
		<!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
				-->
		<authentication mode="Windows"/>
		<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<!-- These are for Microsoft AJAX: -->
		<httpModules>
			<add name="TimingModule" type="ChemSW.HTTPModules.TimingModule"/>
		</httpModules>
		<!-- End Microsoft AJAX -->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<defaultDocument>
			<files>
				<remove value="default.aspx"/>
				<remove value="iisstart.htm"/>
				<remove value="index.htm"/>
				<remove value="Default.asp"/>
				<remove value="index.html"/>
				<remove value="Default.htm"/>
				<add value="Login.aspx"/>
			</files>
		</defaultDocument>
		<modules>
			<remove name="Detector"/>
			<add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
		</modules>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644"/>
				<!-- Maximum possible -->
			</webServices>
		</scripting>
	</system.web.extensions>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects></configuration>