<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChemSW.Nbt.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=W2008X64DB;PERSIST SECURITY INFO=True;USER ID=NBT"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="chemCatSSL" maxReceivedMessageSize="20000000">
                    <security mode="Transport"/>
                    <readerQuotas maxStringContentLength="200000000"/>
                </binding>
                <binding name="chemCatNoSSL" maxReceivedMessageSize="20000000">
                    <security mode="None"/>
                    <readerQuotas maxStringContentLength="200000000"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/c3/Search.svc" binding="webHttpBinding"
                      bindingConfiguration="chemCatNoSSL" contract="ChemCatCentral.Search"
                      name="ChemCatCentral.Search">
            </endpoint>
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MainEndpointBehavior">
                    <webHttp/>
                    <dataContractSerializer maxItemsInObjectGraph="2147483646" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>