<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="ssl" allowCookies="false">
                    <security mode="Transport" />
                </binding>
                <binding name="nossl" allowCookies="false" >
                    <security mode="None" />
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <!--
            <endpoint address="https://nbtdaily.chemswlive.com/DevNbt/Services/session.svc"
      behaviorConfiguration="MainEndpointBehavior" binding="webHttpBinding"
      bindingConfiguration="ssl" name="NbtSession.Session"
      contract="NbtSession.Session" />
            <endpoint address="https://nbtdaily.chemswlive.com/DevNbt/Services/Labels2.svc"
      behaviorConfiguration="MainEndpointBehavior" binding="webHttpBinding"
      bindingConfiguration="ssl" name="NbtLabels.Labels2"
      contract="NbtLabels.Labels2" />
            -->
  <endpoint address="http://localhost/nbtwebapp/Services/session.svc"
  behaviorConfiguration="MainEndpointBehavior" binding="webHttpBinding"
  bindingConfiguration="nossl" name="NbtSession.Session"
  contract="NbtSession.Session" />
        <endpoint address="http://localhost/nbtwebapp/Services/labels2.svc"
  behaviorConfiguration="MainEndpointBehavior" binding="webHttpBinding"
  bindingConfiguration="nossl" name="NbtLabels.Labels2"
  contract="NbtLabels.Labels2" />

        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MainEndpointBehavior">
                    <endpointDiscovery enabled="true" />
                    <webHttp   faultExceptionEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json" helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>