.CswLabel
{
    float: left;
    text-align: right;
    font-weight: bold;
    width: 30%;
}

.CswLabelValue
{
    float: left;
    width: 65%;
    margin-left: 5px;
    text-align: left;
}


.CswLabelCreateMaterial{
    width: 325px;
    font-weight: bold;
    font-size: 110%;
}

.wizardHelpDesc{
    width: 80%;
    text-align: left;
    font-weight: normal;
}

.changeMolDataDialogLabel{
    text-align: left;
    width: 80%;
}