
.CswLabel
{
    font-weight: bold;
}

.CswLabelWide
{
    width: 180px;
}

.CswLabelCreateMaterial{
    width: 325px;
    font-weight: bold;
    font-size: 110%;
}

.wizardHelpDesc{
    width: 80%;
    text-align: left;
    font-weight: normal;
}

.changeMolDataDialogLabel{
    text-align: left;
    width: 80%;
}