
.CswThinGridTable {
    border-style: solid;
    border-width: 1px;
}

.CswThinGridHeaderShow {
    font-weight: bold;
}

.CswThinGridHeaderHide {
    display: none;
}

.CswThinGridCells {
    
}

.CswThinGridTableWizard {
    margin: 20px;
}