.CswFieldTypeTimeInterval_Div
{
	border: 1px solid #336699;
	padding: 3px;
}

.CswFieldTypeQuestion_Deficient
{
	background-color: #ffff00;
}

.CswFieldTypeNFPA_table
{
	padding: 20px !important;
	border-collapse: separate !important;
}
.CswFieldTypeNFPA_rotation{
     -moz-transform: rotate(45deg);  /* FF3.5+ */
       -o-transform: rotate(45deg);  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(45deg);  /* IE9 */
          transform: rotate(45deg);  
}
.CswFieldTypeNFPA_cell
{
	vertical-align: middle !important;
	text-align: center !important;
	width: 50px !important;
	height: 50px !important;
}

.CswFieldTypeNFPA_redDiamond
{
	background-color: #ff0000;
	border-top: 2px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 2px solid #000000;
}
.CswFieldTypeNFPA_yellowDiamond
{
	background-color: #ffff00;
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
.CswFieldTypeNFPA_blueDiamond
{
	background-color: #3366FF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
}
.CswFieldTypeNFPA_whiteDiamond
{
	background-color: #ffffff;
	border-top: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;
}

.CswFieldTypeNFPA_text
{
	font-size: 2em;
	color: #000000;
	padding: 10px !important;
	font-weight: bold;
}
.CswFieldTypeNFPA_textRotated
{
     -moz-transform: rotate(315deg);  /* FF3.5+ */
       -o-transform: rotate(315deg);  /* Opera 10.5 */
  -webkit-transform: rotate(315deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(315deg);  /* IE9 */
          transform: rotate(315deg);  
}
.CswFieldTypeNFPA_whitetext
{
    font-size: 1.2em;
    padding-left: 0px;
}

.CswFieldTypeNFPA_redLinear
{
	background-color: #ff0000;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
.CswFieldTypeNFPA_yellowLinear
{
	background-color: #ffff00;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
.CswFieldTypeNFPA_blueLinear
{
	background-color: #3366FF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
.CswFieldTypeNFPA_whiteLinear
{
	background-color: #ffffff;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
.CswFieldTypeNFPA_whitetextLinear
{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.05em;
    text-align: center;
}

.CswFieldTypeQuestion_table{
    margin-left: 10px;
    width: 60%;
}

.CswFieldTypeQuestion_answer{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 125%;
}

.CSwFieldTypeQuestion_cell{
    width: 100%;
    vertical-align: middle;
    max-width: 250px;
    word-wrap: break-word;
}

.CSwFieldTypeQuestion_cellHighlight{
    background-color: #E0E0E0;
}

