.CswAction_ActionTable
{
    border: 1px solid #99ccff;
    margin: 10px 0px 0px 10px;
    width: 100%;
}
.CswAction_TitleCell
{
    background-color: #bbddff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 0px 0px 10px;
    text-align: center;
}
.CswAction_LabelCell
{
    font-weight: bold;
    text-align: left;
}
.CswAction_IndexCell
{
    background-color: #ddeeff;
    width: 0px;
    height: 400px;
}
.CswAction_ContentCell
{
    border: 10px solid #ddeeff;
    height: 380px; 
}
.CswAction_ButtonsCell
{
    background-color: #ddeeff;
    height: 20px;
    padding: 0px 10px 10px 10px;
}
