/*
/* Adapted from http://www.noupe.com/tutorial/drop-down-menu-jquery-css.html * /

ul.topnav {
	list-style: none;
	padding: 0 0 0 0px;
	margin: 0;
	float: left;
	
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 5px 7px 5px 7px;
	position: relative; /*--Declare X and Y axis base for sub navigation--* /
	display: block;
	color: #3e73be;
	cursor: pointer;
}
ul.topnav li:hover
{
	color: #6b94cf;
}    
ul.topnav li:hover a
{
	color: #6b94cf;
}    
ul.topnav li a{
	text-decoration: none;
	color: #3e73be;
}
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--* /
	left: 0; top: 22px;
	background: #d8e9fa;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
	z-index: 100;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 5px;
	border-bottom: 1px solid #3e73be;
	clear: both;
	width: 160px;
	color: #3e73be;
}
html ul.topnav li ul.subnav li a {
	float: left;
	padding: 2px 0 2px 10px;
	color: #3e73be;
}
html ul.topnav li ul.subnav li:hover { /*--Hover effect for subnav links--* /
	color: #6b94cf;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--* /
	color: #6b94cf;
}
*/