.CswLayoutTable_cell
{
}
.CswLayoutTable_celldiv
{
}
.CswLayoutTable_configcell
{
    border: 1px solid #aaaaaa;
    cursor: move;
    padding: 10px;
}
.CswLayoutTable_dragcell
{
    background-color: #dddddd;
}
.CswLayoutTable_hover
{
    background-color: #ffff00;
}
.CswLayoutTable_emptycell
{
    width: 50px;
    height: 15px;
}
.CswLayoutTable_remove
{
	background-color: #ff0000;	
}
.CswLayoutTable_removeEnabled
{
	border: 1px solid red;
}