.CswErrorMessage_Message
{
	padding: 3px;
	border: 1px solid #ffaa00;
}
.CswErrorMessage_ValidatorError
{
	color: #ff3333;
}
.CswErrorMessage_Error
{
	background-color: #ff3333;
	color: &cswtextcolor;
}
.CswErrorMessage_Error a
{
	background-color: #ff3333;
	color: &cswtextcolor;
}
.CswErrorMessage_Warning
{
	background-color: &cswbgcolorhilite;
	color: &cswtextcolor;
}
.CswErrorMessage_Warning a
{
	background-color: &cswbgcolorhilite;
	color: &cswtextcolor;
}
.CswErrorMessage_JS
{
	background-color: #FF8D33;
	color: &cswtextcolor;
}
.CswErrorMessage_JS a
{
	background-color: #FF8D33;
	color: &cswtextcolor;
}