.CswLabelCreateMaterial{
    width: 325px;
    font-weight: bold;
    font-size: 110%;
}

.wizardHelpDesc{
    width: 80%;
    text-align: left;
    font-weight: bold;
    font-size: 110%;
}

.changeMolDataDialogLabel{
    text-align: left;
    width: 80%;
}