.CswDesignMode {
    height: 600px;
    width: 310px;
    background-color: #164399;
    position: absolute;
    z-index: 1001;
    left: -300px;
    top: 90px;
    text-align: center;
    padding: 5px;
    color: white;
}

.CswDesignMode_NTName {
    font-size: 16px;
}

.CswDesignMode_AlignRight {
    text-align: right;
}
