<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    
    <Product Id="DBD4C819-8FCC-419C-AAD1-CA4379B62CE3" Name="ChemSW Balance Reader Client" Language="1033" Version="1.0.2.0" Manufacturer="ChemSW Inc." UpgradeCode="375a957f-72ca-4950-94b2-88a27941fcee">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        
        <Icon Id="balance.ico" SourceFile="balance.ico" />
        <Property Id="ARPPRODUCTICON">balance.ico</Property>


        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        
        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="ChemSW" Name="ChemSW">
                    <Directory Id="INSTALLDIR" Name="Balance Reader Client" FileSource="$(var.BalanceReaderClient.TargetDir)">
                        
                        <Component Id="ClientInstall" Guid="2453EEFA-578E-48BB-AAFB-78BB03D2D034">
                            <File Id="ClientExe" Name="$(var.BalanceReaderClient.TargetFileName)" KeyPath="yes" />
                            <File Id="ClientConfig" Name="$(var.BalanceReaderClient.TargetFileName).config" />
                            <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="ChemSW Balance Reader Client" Advertise="yes" Icon="balance.ico" />
                            <Shortcut Id="ApplicationStartMenuShortcut" Directory="ApplicationProgramsFolder" Name="ChemSW Balance Reader Client" Advertise="yes" Icon="balance.ico"/>
                            <RemoveFile Id="PurgeClientFolder" Name="*.*" On="uninstall" />
                            <RemoveFolder Id="RemoveStartMenuShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
                        </Component>
                        
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" />

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="ChemSW" />
            </Directory>
            
        </Directory>



        <Feature Id="CompleteInstallation" Level="1">
            <ComponentRef Id="ClientInstall" />
        </Feature>


        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <WixVariable Id="WixUILicenseRtf" Value="eula.rtf"/>
        
    </Product>
</Wix>